/* header */

.header:hover {
  background-color: #17408b;
  color: #fafafa;

}

.header {
  background-color: #fa8320;
  margin: 0 auto;
  text-align: center;
}

h1 {
  margin-top: 0;
  padding-top: 20px;
  padding-bottom: 0;
  font-family: 'Sport', Arial, Helvetica, sans-serif;
  font-size: 50px;
  margin-bottom: 0;
}

.fa-basketball-ball {
  color: black;
  font-size: 50px;
  padding-top: 0;
}

.fa-basketball-ball:hover {
  color: #fa8320;
}

.home-btn {
  margin-top: 4px;
  font-size: 20px;
}


/* My Profile */

.profile-btn {
  background-color: #17408b;
  color: #fafafa;
  font-family: 'Sport', Arial, Helvetica, sans-serif;
  font-size: 20px;
  width: 80%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.my-profile-container {
  margin: 0 auto;
  width: 90%;
  background-color: #17408b;
  border-color: black;
  border-width: thick;
  border-radius: 1rem;
  border-style: solid;
  margin-top: 30px;
}

.row-profile {
  font-family: 'Orbitron', Arial, Helvetica, sans-serif;
  margin-left: 5px;
  color: #fafafa;
}

/* homepage  */

.homepage-btn {
  background-color: #17408b;
  color: #fafafa;
  font-family: 'Sport', Arial, Helvetica, sans-serif;
  font-size: 28px;
  width: 90%;
  padding-top: 10%;
  padding-bottom: 10%;
  margin-top: 40px;
}

.homepage-btn:hover {
  background-color: #fa8320;
}

/* Create Ranking */

.ranking-title{
  width: 90%;
  margin-top: 2px;

}
.ranking-description {
  width: 90%;
  margin-top: 10px;
}

.ranking-search {
  width: 65%;
  margin-top: 10px;
}

.ranking-submit-btn {
  width: 80%;
  background-color: #17408b;
  color: #fafafa;
  font-size: 22px;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-top: 10%;
}

.ranking-submit-btn:hover {
  background-color: #fa8320;
}

.ranking-search-btn {
  background-color: #17408b;
  color: #fafafa;
  font-family: 'Sport', Arial, Helvetica, sans-serif;
  font-size: 10px;
  margin-top: 10px;
  width: 20%;
  margin-left: 20px;
}

.ranking-search-btn:hover {
  background-color: #fa8320;
}

.player-number {
  margin-right: 5px;
}

.search-result:hover {
  color: #17408b;
}

.ranking-search-team {
  width: 65%;
  margin-top: 10px;
}

.ranking-search-btn-team {
  background-color: #17408b;
  color: #fafafa;
  font-family: 'Sport', Arial, Helvetica, sans-serif;
  font-size: 10px;
  margin-top: 10px;
  width: 20%;
  margin-left: 20px;
}

.ranking-search-btn-team:hover {
  background-color: #fa8320;
}

/* Search results page */

.results-container {
  background-color: beige;
}

/* My Rankings Page  */

#ranking-save-button {
  width: 80%;
  background-color: #17408b;
  font-family: 'Sport', Arial, Helvetica, sans-serif;
  color: #fafafa;
  font-size: 22px;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-top: 10%;
}

.saved-ranking-container {
  font-family: 'Sport', Arial, Helvetica, sans-serif;
  background-color: beige;
  width: 90%;
  border-color: #17408b;
  border-radius: 1rem;
  border-style: solid;
  margin-top: 5px;
}

/* Stats Page */

.append-stats {
  margin: 0 auto;
  width: 90%;
  border-color: #17408b;
  border-radius: 1rem;
  border-style: solid;
  margin-top: 30px;
  background-color: #fa8320;
}

.stats-row {
  color: beige;
  background-color: black;
  width: 75%;
  margin: 0 auto;
  margin-top: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 1rem;
  margin-bottom: 10px;
  font-family: 'Orbitron', Arial, Helvetica, sans-serif;
}

.stats-search-input {
  width: 70%;
}

.stats-search-button {
  background-color: #17408b;
  color: #fafafa;
}

.stats-search-button:hover {
  background-color: #fa8320;
}


.failed-container:hover {
  background-color: #17408b;
  opacity: .6;
}




@media screen and (min-width: 750px) {
 .homepage-btn {
   width: 50%;
   padding-top: 5%;
   padding-bottom: 5%;
 }

 .profile-btn {
   width: 30%;
   padding-top: 2%;
   padding-bottom: 2%;
 }

 .my-profile-container {
   width: 50%;
 }

.saved-ranking-container {
  width: 50%;
}

.ranking-title {
  width: 50%;
  margin-top: 20px;
}

.ranking-description {
  width: 50%;
  margin-top: 20px;
}

.ranking-search {
  width: 38%;
  margin-top: 20px;
}

.ranking-search-btn {
  width: 10%;
  margin-top: 20px;

}

.ranking-search-team {
  width: 38%;
  margin-top: 20px;

}

.ranking-search-btn-team {
  width: 10%;
  margin-top: 20px;
}

.ranking-submit-btn {
  width: 50%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.stats-search-input {
  width: 40%;
}

.append-stats {
  width: 60%;
}

.stats-row {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 80%;
  font-size: 20px;
}
}

@media screen and (min-width: 1000px) {

.ranking-title {
  width: 40%;
  margin-top: 20px;
}

.ranking-description {
  width: 40%;
  margin-top: 20px;
}

.ranking-search {
  width: 34%;
  margin-top: 20px;
}

.ranking-search-btn {
  width: 5%;
  margin-top: 20px;

}

.ranking-search-team {
  width: 34%;
  margin-top: 20px;

}

.ranking-search-btn-team {
  width: 5%;
  margin-top: 20px;
}

.ranking-submit-btn {
  width: 40%;
  padding-top: 2%;
  padding-bottom: 2%;
}

}


@media screen and (min-width: 1400px) {
  .stats-row {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 80%;
  font-size: 30px;
}

.append-stats {
  width: 30%;
}

.signup-btn {
  width: 50%;
  margin-top: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.signup-submit-btn {
  margin-top: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
  width: 50%;
}

.signup-input {
  width: 50%;
}

}
