/* header */

.header {
  background-color: #fa8320;
  margin: 0 auto;
  text-align: center;
}

h1 {
  margin-top: 0;
  padding-top: 20px;
  padding-bottom: 0;
  font-family: 'Sport', Arial, Helvetica, sans-serif;
  font-size: 50px;
  margin-bottom: 0;
}

.fa-basketball-ball {
  color: black;
  font-size: 50px;
  padding-top: 0;
}

.fa-basketball-ball:hover {
  color: #fafafa;
}

.home-btn {
  margin-top: 4px;
  font-size: 20px;
}

/* home login page (first page you see) */

.login-btn,
.signup-btn {
  background-color: #17408b;
  color: #fafafa;
  font-family: 'Sport', Arial, Helvetica, sans-serif;
  font-size: 50px;
  width: 90%;
  margin-top: 15%;
  padding-top: 15%;
  padding-bottom: 15%;
}

/* Login page */
.login-text {
  font-family: 'Sport', Arial, Helvetica, sans-serif;
}

.email-input,
.pw-input {
  margin-top: 10px;
  width: 80%;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
}

.submit-login-btn {
  background-color: #17408b;
  color: #fafafa;
  font-family: 'Sport', Arial, Helvetica, sans-serif;
  font-size: 50px;
  width: 80%;
  margin-top: 15%;
  padding-top: 5%;
  padding-bottom: 5%;
}

/* Create account page */

.create-an-account-text {
  font-family: 'Sport', Arial, Helvetica, sans-serif;
}

.signup-input {
  margin-top: 10px;
  width: 80%;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
}

.signup-submit-btn {
  background-color: #17408b;
  color: #fafafa;
  font-family: 'Sport', Arial, Helvetica, sans-serif;
  font-size: 50px;
  width: 80%;
  margin-top: 15%;
  padding-top: 5%;
  padding-bottom: 5%;
}

/* My Profile */

.profile-btn {
  background-color: #17408b;
  color: #fafafa;
  font-family: 'Sport', Arial, Helvetica, sans-serif;
  font-size: 20px;
  width: 80%;
  padding-top: 5%;
  padding-bottom: 5%;
}

/* homepage  */

.homepage-btn {
  background-color: #17408b;
  color: #fafafa;
  font-family: 'Sport', Arial, Helvetica, sans-serif;
  font-size: 28px;
  width: 90%;
  padding-top: 10%;
  padding-bottom: 10%;
  margin-top: 40px;
}

/* Create Ranking */

.ranking-title,
.ranking-description {
  width: 90%;
  margin-top: 10px;
}

.ranking-search {
  width: 65%;
  margin-top: 10px;
}

.ranking-submit-btn {
  width: 80%;
  background-color: #17408b;
  color: #fafafa;
  font-size: 22px;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-top: 80%;
}

.ranking-search-btn {
  background-color: #17408b;
  color: #fafafa;
  font-family: 'Sport', Arial, Helvetica, sans-serif;
  font-size: 10px;
  margin-top: 10px;
  width: 20%;
  margin-left: 20px;
}

/* Search results page */

.add-btn {
  background-color: #17408b;
  color: #fafafa;
  font-family: 'Sport', Arial, Helvetica, sans-serif;
  font-size: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 20%;
  margin-left: 20px;
}

.results-container {
  background-color: beige;
}
